IronRubyMvcWeb/bin
IronRubyMvcWeb/obj
*.csproj.user
*.suo
*.resharper.user
IronRubyMvc.Tests/bin/
IronRubyMvc.Tests/obj/
IronRubyMvc/bin/
IronRubyMvc/obj/
Pictures/bin/
Pictures/obj/
_ReSharper.IronRubyMvc/
.DS_Store
IronRubyMvc/.DS_Store
IronRubyMvc/Controllers/._RubyController.cs
IronRubyMvc/Controllers/._RubyControllerActionInvoker.cs
IronRubyMvcLibrarySpecs/bin/*.*.CodeAnalysisLog.xml
IronRubyMvcLibrarySpecs/bin/*.*.lastcodeanalysissucceeded
IronRubyMvc/Controllers/._controller.rb
IronRubyMvc/Core/._RubyEngine.cs
dependencies/IronRuby.Tests.exe
dependencies/IronRuby.Tests.pdb