<h2>new album</h2>
<form action="/album" method="post">
  <label for="name">name</label> <input type="text" name="album[name]" value="" id="album_name" /><br/>
  <input type="submit" name="commit" value="Create" />
</form>