<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="/stylesheets/dark.css" />
  <script type="text/javascript" src="/javascripts/prototype.js"></script>
  <script type="text/javascript" src="/javascripts/effects.js"></script>
  <script type="text/javascript" src="/javascripts/application.js"></script>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>
      Pictures
  </title>
</head>
<body>
  <div id="container">
    <div id="header">
	    <h1>Pictures</h1>
      <div class="height123">
        <div class="login_top_bar">
          <% if current_person %>
            <%= current_person.name %> <a href="/session">logout</a>
          <% else %>
            <form action="/login" method="post">
              <div class="right"><label for='email'>email</label>
                <input id="email" name="email" size="15" type="text" />
              </div>
              <div class="clear"></div>
              <div class="right">
                <input id="password" name="password" size="15" type="password" />
              </div>
              <div class="clear"></div>
              <div class="right">
                <input name="commit" type="submit" value="login" />
              </div>
              <div class="clear"></div>
            </form>
          <% end %>
        </div>
      </div>
      <div class="right marginright40">
        <div class="sub_nav_button">
          <a href="/">home</a>
        </div>
        <div class="sub_nav_button_outer">
        </div>
      </div>

      <% if current_person %>
        <div class="right">
          <div class="sub_nav_button">
            <a href='/pictures/new'>upload</a>
          </div>
          <div class="sub_nav_button_outer">
          </div>
        </div>

        <div class="right">
          <div class="sub_nav_button">
            <a href="/albums/new">add an album</a>
          </div>
          <div class="sub_nav_button_outer">
          </div>
        </div>
      <% end %>

      <div class="clear"></div>
    </div>
    
    <% if flash[:error] %>
  	  <h2 style='color:red;margin-left:40px;'> <%= flash[:error] %></h2>
  	<% end %>
    <% if flash[:notice] %>
      <h2 style='color:green;margin-left:40px;'> <%= flash[:notice] %></h2>
    <% end %>
    
    <div id="content">
        <%= yield %>
    </div>
    <div id="footer">&copy; Microsoft Corporation</div>
  </div>
</body>
</html>
