<div class='tag_cloud'>
  <% unless view_data.tags.blank? %>
    <% view_data.tags.each do |tag| %>
      <span><a href='/pictures/tagged?tag=<%= tag.name %>'><%= tag.name %></a></span>
    <% end %>
  <% else %>
    No tags!
  <% end %>
</div>