<div class="thumbnail_album">
  <a href="/albums/<%= model.id %>">
    <img src="http://localhost:4567/pictures/<%= model.pictures.first.id %>/serve_thumbnail" alt="<%= model.name %>" width="96" height="71" />
  </a>
</div>