<% if view_data.pictures.blank? %>
  <div id='empty'>There are no pictures tagged with <em><%= $controller.params[:tag] %></em></div>
<% else %>
  <h2>Pictures tagged with <%= $controller.params[:tag] %></div>
  <table><tr>
  <% view_data.pictures.each_with_index do |picture, index| %>
    <%= (index > 1 && index % 6 == 0) ? "</tr><tr>" : "" %>
    <td><%= html.render_partial("thumbnail_picture", picture, :width => 96, :height => 96, :thumbnail => :true) %></td>
  <% end %>
  <tr></table>
<% end %>