<table>
  <tr><td>First Name:</td><td><input type="text" name="person[first_name]" value="<%= @person.first_name %>" id="person_first_name" /></td></tr>
	<tr><td>Last Name:</td><td><input type="text" name="person[last_name]" value="<%= @person.last_name %>" id="person_last_name" /></td></tr>
	<tr><td>Email:</td><td><input type="text" name="person[email]" value="<%= @person.email %>" id="person_email"></td></tr>	
	<tr><td>Password:</td><td><input type="password" name="person[password]" value="" id="person_password"></td></tr>	
	<tr><td>Retype Password:</td><td><input type="password" name="person[password_confirmation]" value="" id="person_password_confirmation"></td></tr>			
</table>