<form action="/login" method="post" accept-charset="utf-8">
  <label for="email">email</label>: <input type="text" name="email" value="" id="email" /><br />
  <label for="password">password</label>: <input type="password" name="password" value="" id="password" /><br />
  <input type="submit" value="Login!" />
</form>